<h1>GIller</h1>


<h3><%= link_to 'Create New Tweet', new_tweet_path %></h3>

<% @tweets.each do |el| %>
<hr />
<h2><a href="/tweets/<%=el.id %>"><%= "@#{el.title}: #{el.description}" %></a></h2>
<% end %>
